@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "./index.css";
@import "./header.scss";
@import "./itemCard.scss";
@import "./itemsList.scss";
@import "./searchBar.scss";
@import "./homePage.scss";
@import "./itemPage.scss";
@import "./favoritesPage.scss";
@import "./pageNavigation.scss";
@import "./login.scss";
@import "./footer.scss";

:root {
  --bg-dark: #1a1c1d;
  --red-marvel: #ee171f;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: black;
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
h1 {
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0;
}
h2 {
  font-size: 22px;
  font-weight: bold;
  margin: 20px 0;
}
h3 {
  font-size: 18px;
  font-weight: bold;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

main {
  background-color: var(--bg-dark);
  padding: 10px 0;
  min-height: 87vh;
}

@media (max-width: 1280px) {
  .container {
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 5px;
  }
}
