main {
  padding: 0 !important;
}
.home-page .container {
  .hero-character,
  .hero-comic {
    position: relative;
    height: 400px;
    // margin-bottom: 40px;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .random-character,
    .random-comic {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      > div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        .character-card,
        .comic-card {
          scale: 1.3;
          img {
            width: 250px;
            &:hover {
              scale: none;
            }
          }
          h3 {
            visibility: hidden;
            opacity: 0;
            padding: 10px;
            position: absolute;
            left: 0;
            top: 73%;
            height: 20%;
            width: 250px;
          }
          .favorite-button {
            top: 78%;
            right: 15px;
            z-index: 3;
            // color: white;
          }
          .description {
            display: none;
          }
          &:hover {
            background-color: transparent;
            h3 {
              visibility: visible;
              background-color: black;
              border-radius: 0 0 10px 10px;
              margin: 0 15px 0 15px;
              padding-right: 20px;
              opacity: 0.7;
              color: white;
              z-index: 2;
              transition: 1s opacity;
            }
          }
        }
        .comic-card > h3 {
          top: 65%;
          height: 28%;
        }
      }
    }
    .random-character > div > div:first-child,
    .random-comic > div > div:last-child {
      h2 {
        font-size: 26px;
        padding: 40px 0;
      }
      > div {
        cursor: pointer;
        text-align: center;
        border: 1px solid white;
        background-color: var(--bg-dark);
        opacity: 0.65;
        padding: 10px;
        border-radius: 10px;
        .icon {
          padding-right: 15px;
          color: var(--red-marvel);
        }
        &:hover {
          background-color: black;
          border: 1px solid var(--red-marvel);
        }
      }
    }
  }
  .hero-comic > img {
    opacity: 0.4;
  }
}

@media (max-width: 768px) {
  .home-page .container {
    .hero-character,
    .hero-comic {
      height: 550px;
      .random-character,
      .random-comic {
        top: -10px;
        > div {
          div > h2 {
            padding-top: 0 !important;
            margin: 0;
          }
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          .character-card,
          .comic-card {
            flex: none;
            &:hover {
              h3 {
                margin-left: 10px;
              }
            }
          }
        }
      }
      .random-comic {
        top: 15px;
      }
    }
  }
}
