.search-component {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  > div {
    position: relative;
    width: 400px;
    input {
      background-color: black;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 8px 35px;
      width: 100%;
    }
    input:focus-visible {
      outline: none;
    }
    .search-icon {
      position: absolute;
      top: 0;
      left: 0;
      padding: 8px;
    }
  }
}

.autocomplete-customizations {
  background-color: black;
  border-radius: 0 0 10px 10px;
  z-index: 2;
  div {
    cursor: pointer;
    padding: 2px 10px;
  }
  div.selected {
    background-color: var(--red-marvel);
    color: white;
  }
}
