body {
  background-color: #1a1c1d;
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
h2 {
  font-size: 20px;
  font-weight: bold;
}
h3 {
  font-size: 16px;
  font-weight: bold;
}

header {
  background-color: black;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo > img {
    height: 50px;
    cursor: pointer;
  }
  nav {
    a {
      padding: 10px;
    }
  }
}

main,
.character-comics-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.comic-card,
.character-card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  width: 30%;
  height: fit-content;
  max-height: 300px;
  border: 1px solid red;
  overflow: hidden;
  cursor: pointer;
  img {
    align-self: center;
    width: 100px;
    margin-bottom: 10px;
  }
}

.comic-page,
.character-page {
  max-width: 500px;
  margin: 20px auto;
  border: 1px solid red;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.character-page > div > h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.favorite-button {
  cursor: pointer;
  position: absolute;
  padding: 5px;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  background-color: black;
  z-index: 1;
}
