body {
  background-color: #1a1c1d;
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
h2 {
  font-size: 20px;
  font-weight: bold;
}
h3 {
  font-size: 16px;
  font-weight: bold;
}

header {
  background-color: black;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo > img {
    height: 50px;
    cursor: pointer;
  }
  nav {
    a {
      padding: 10px;
    }
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.comic-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  width: 30%;
  height: 300px;
  border: 1px solid red;
  overflow: hidden;
  cursor: pointer;
  img {
    align-self: center;
    width: 100px;
    margin-bottom: 10px;
  }
}

.comic-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
